<h1>jobs</h1>

<div id="skill_cloud">
  <% skill_cloud Job.skill_counts, %w[s m l] do |skill, css_class| %>
    <%= link_to skill.name, skill_path(skill.name), class: css_class %>
  <% end %>
</div>

<div id="jobs">
  <% @jobs.each do |job| %>
    <h2><%= link_to job.name, job %></h2>
    <%= simple_format job.name %>
    
    <p>
      Skills: <%= raw job.skills.map(&:name).map { |t| link_to t, skill_path(t) }.join(', ') %>
    </p>

    <p><%= link_to "Edit Job", edit_job_path(job) %></p>
  <% end %>
</div>

<p><%= link_to "New Job", new_job_path %></p>